
body {
    padding: 0;
    margin: 20;
    background-image: url(bg.jpg);
}

#header {
	    text-align: center;
    


    background-image: url(bg.jpg);
}

#menu li {
    border: 1px solid indianred;
    padding: 5px;
    margin: 5px;
    height: 100px;
    line-height: 30px;
    text-align: center;
    list-style: none;
    display: table-cell;
    background-image: url(bg.jpg);

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#menu ul {
    padding: 0;
    display: table;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 10px 22px 10px 0px;

}

#divbusca {
    height: 60px;
    vertical-align: middle;
    text-align: center;
    padding-top: 20px;
    background-image: url(bg.jpg);
}

#categoria,
#divbusca input {
    height: 30px;
    border: 1px solid black;
	padding-left: 6px;

}
#divbusca input[type="text"] {
    width: 60%;

}

#div_home {
    padding: 10px;
    color: white;


}

#div_home h1 {
    color: white;
    text-align: center;
}
    
#div_planetas {
    padding: 10px;


}
    
#div_pessoas {
    padding: 10px;
}
    
#div_especies {
    padding: 10px;
}
    
#div_naves {
    padding: 10px;
} 
    
#div_filmes{
    padding: 10px;
}

#div_veiculos{
    padding: 10px;
}

.oculta {
	display:none;
}

.selecionada, .selecionada a {
    background-color: indianred;
    color: white;
}

.lista_itens {
    border: 1px solid black;
    width: 180px;
    float: left;
    margin-right: 25px;
    color:white;
}

.item_detalhe {
    border: 1px solid black;
    float: left;
    padding: 10px;
    margin-top: 0;
    color:white;
}

.item_detalhe > div {
    padding-bottom: 10px;
}

.lista_itens li {
    cursor: pointer;
    min-height: 25px;
    line-height: 25px;
}

.lista_itens li:hover {
    background-color: indianred;
    color: white;
    margin-left: -40px;
    padding-left: 40px;
}

.resultado {
    width: 100%;

}






























